<nav class="navbar navbar-default navbar-fixed-top nav_top">
    <div class="swiper-container left_div">
        <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let parentTypes of parentTypeModels">
                <ul>
                    <li *ngFor="let parentType of parentTypes">
                        <a id={{parentType}} (click)="findAllSontype(parentType)">{{parentType}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="swiper-pagination bottom_pagination"></div>
    </div>
</nav>

<div class="content" #content style="top:200%;height:80%;">
    <div style="margin-right:3%;margin-top:10%">
        <div class="img_container" style="position:relative;" *ngFor="let sonType of bookTypeShow">
            <img src={{sonType.picture?sonType.picture:backPicture}} (click)="bookList(sonType)" style="float:left; width:150%; height:250%;border-radius:5px 5px 5px 5px;">
            <div style="margin-left:5%;margin-top:5%; position:absolute;color:white;font-size:15px">
                {{sonType.typeName}}
            </div>
            <div style="margin-left:85%;margin-top:85%; position:absolute;color:white;font-size:15px">
                {{sonType.bookNum}}
            </div>
        </div>
    </div>
</div>
<div class="foot_div" *ngIf="isMany">
    <p (click)="next()">查看更多</p>
</div>