<div class="container"  >
  <div style="width: 400px; margin-left:30%; margin-bottom:10px; margin-top:5%">
    <input class="condition" type="text"   placeholder="请输入姓名/书籍名称/续借次数/超期情况"  [(ngModel)]="condition" />
    <button type="button" class="btn btn-primary btn" (click)="query($event)">查询</button>
</div>

  <div class="row" style="margin-top:2% ;width:93%" >
    <data-table (deletesEmit)="deleteDatas($event)" 
      [ButtonHeaders]="buttonHeaders" (changepage)="changepage($event)" 
      [isCheckBox] = "isCheck" [isLink]="isLink"  
      (operat)="operatData($event,modalEdit)"   [title]="title" [page] ="page" 
      [addButton]="btnAdd" [deleteButton]="btnDelete" (editData)="edit($event,modalEdit)"
      [importButton]="btnImport" [exportButton] = "btnExport" [total]="total" 
      [data]="data" [arr]="arrbutes" (exportEmit)="export()"     
      [sizeList]="sizeList" [paging]="paging" [pageSize]="pageSize" 
      (importEmit)="import($event)" (addOpen)="open($event,modal)">
    </data-table>
  </div>

  <p-dialog header="导入文件" [(visible)]="display" modal="modal" width="500" [responsive]="true" >
    <p>提示：导入前请先下载模板<a style="color:#41ABE9" (click)="down()">点击下载模板</a></p>
    <div style="text-align:center;display:none">
      <input #filepath type="file" name="filePath" value="选择文件"  style="display:none" 
      ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)">
    </div>

    <input class="form-control" type="text" placeholder="选择文件" style="width:50%;height:25px;display:inline" [(ngModel)]="filename">
    
    <button type="button" pButton  (click)="show(filepath)" label="选择文件"></button>
      <p-footer>
        <button type="button" pButton  icon="fa-check" (click)="upload()" label="上传"></button>
        <button type="button" pButton  icon="fa-close" (click)="display=false" label="取消"></button>
      </p-footer>
  </p-dialog>

  <!-- 添加操作模态框 -->
  <div  #modal (click)="draggable()" class="modal-dialog" style="visibility:hidden;position:absolute;left:30%;top:20%; height:auto">
      <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" (click)="close(modal)">×
            </button>
            <h4 class="modal-title">
              {{property}}借阅记录
           </h4>
          </div>

           <div class="modal-body">
           <form role="form" class="form-horizontal" #form="ngForm">
            
               <div class="form-group">
                  <label class="col-sm-3 control-label">账号：</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" maxlength="12" required name="code" [(ngModel)]="borrowing.code"  (change)="getStudentInfo()" onkeyup="value=value.replace(/[^\d]/g,'')" required>
                  </div>
               </div> 

               <div class="form-group">
                  <label class="col-sm-3 control-label">姓名：</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="studentName" [(ngModel)]="borrowing.studentName" readonly>
                  </div>
               </div> 

               <div class="form-group">
                  <label class="col-sm-3 control-label">专业：</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="professionName" [(ngModel)]="borrowing.professionName" readonly>
                  </div>
               </div> 

               <div class="form-group">
                  <label class="col-sm-3 control-label">班级：</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="classesName" [(ngModel)]="borrowing.classesName" readonly>
                  </div>
               </div> 

               <div class="form-group">
                <label class="col-sm-3 control-label">ISBN：</label>
                <div class="col-sm-9">
                  <input type="text" #isbn (change)="getBookInfo(isbn)" class="form-control" required onkeyup="value=value.replace(/[^\w\u4E00-\u9FA5]/g, '')"  maxlength="18" name="isbn" [(ngModel)]="borrowing.isbn" >
                </div>
             </div>

               <div class="form-group">
                  <label class="col-sm-3 control-label">书名：</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" name="bookName" [(ngModel)]="borrowing.bookName" readonly>
                  </div>
               </div> 
                
               <div class="form-group">
                  <label class="col-sm-3 control-label">借书日期：</label>
                  <div class="col-sm-9">
                    <input type="date" class="form-control" name="borrowTime" [(ngModel)]="borrowing.borrowTime" >
                    
                  </div>
               </div>  

               <div class="form-group">
                  <label class="col-sm-3 control-label">实际还书日期：</label>
                  <div class="col-sm-9">
                    <input type="date" (change)="dateChang()" class="form-control" name="realDate"  [(ngModel)]="borrowing.realDate">
                  </div>
               </div> 
             

               <div class="form-group">
                  <label class="col-sm-3 control-label">续借次数：</label>
                  <div class="col-sm-9">
                    <input type="text" class="form-control" maxlength="1" name="renew" [(ngModel)]="borrowing.renew">
                  </div>
               </div> 

               <div class="form-group">
                <label class="col-sm-3 control-label">是否超期：</label>
                <div class="col-sm-9">
                  <!-- <input type="text" class="form-control" name="isOverdue" [(ngModel)]="borrowing.isOverdue"> -->
                  <select class="col-sm-9" name="isOverdue"  [(ngModel)]="borrowing.isOverdue">
                  <option name="isOverdue" value="0">否</option>
                  <option name="isOverdue" value="1">是</option>
                  </select>
                </div>
             </div> 
             <div class="form-group">
              <label class="col-sm-3 control-label">书籍位置</label>
              <div class="col-sm-9">
                <!-- <input type="text" class="form-control" name="isOverdue" [(ngModel)]="borrowing.isOverdue"> -->
                <select class="col-sm-9" name="isOverdue"  [(ngModel)]="borrowing.location">
                <option name="isOverdue" value="学校">学校</option>
                <option name="isOverdue" value="万达">万达</option>
                </select>
              </div>
           </div> 

           </form>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-primary"  (click)="add(modal,borrowing)">
                  确认
                </button>
                <button type="button" class="btn btn-default" (click)="close(modal)">取消
                </button>
          </div>
      </div>
  </div>

 <!-- 编辑操作模态框 -->
 <div #modalEdit (click)="draggable()" class="modal-dialog" style="visibility:hidden;position:absolute;left:30%;top:20%; height:auto">
  <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="close(modalEdit)">×
        </button>
        <h4 class="modal-title">
          {{property}}借阅记录
       </h4>
      </div>

       <div class="modal-body">
       <form role="form" class="form-horizontal" #form="ngForm">
         
           <!-- <div class="form-group">
              <label class="col-sm-3 control-label">学号：</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" id="studentCode" (change)="getStudentInfo()"  #studentCode ="ngModel"  maxlength="12" name="code" [(ngModel)]="borrowing.code" onkeyup="value=value.replace(/[^\d]/g,'')" required>
              </div>
           </div>  -->

           <div class="form-group">
              <label class="col-sm-3 control-label">姓名：</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="studentName" [(ngModel)]="borrowing.studentName" readonly>
              </div>
           </div> 

           <!-- <div class="form-group">
              <label class="col-sm-3 control-label">专业：</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="professionName" [(ngModel)]="borrowing.professionName" readonly>
              </div>
           </div> 

           <div class="form-group">
              <label class="col-sm-3 control-label">班级：</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="classesName" [(ngModel)]="borrowing.classesName" readonly>
              </div>
           </div>  -->

           <div class="form-group">
            <label class="col-sm-3 control-label">ISBN：</label>
            <div class="col-sm-9">
              <input type="text" id="isbn"   #isbn="ngModel"  (change)="getBookInfomation(isbn)" class="form-control" required onkeyup="value=value.replace(/[^\w\u4E00-\u9FA5]/g, '')" maxlength="18" name="isbn" [(ngModel)]="borrowing.isbn">
            </div>
         </div> 

           <div class="form-group">
              <label class="col-sm-3 control-label">书名：</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" name="bookName" [(ngModel)]="borrowing.bookName" readonly>
              </div>
           </div> 

           
           <div class="form-group">
              <label class="col-sm-3 control-label">借书日期：</label>
              <div class="col-sm-9">
                <input type="datetime" class="form-control" placeholder="yyyy-mm-dd" name="borrowTime" [(ngModel)]="borrowing.borrowTime">
              </div>
           </div> 

           <div class="form-group">
              <label class="col-sm-3 control-label">还书日期：</label>
              <div class="col-sm-9">
                <input type="datetime" (change)="dateChang()" placeholder="yyyy-mm-dd" class="form-control" name="realDate" [(ngModel)]="borrowing.realDate">
              </div>
           </div> 

           <div class="form-group">
              <label class="col-sm-3 control-label">续借次数：</label>
              <div class="col-sm-9">
                <input type="text" class="form-control" maxlength="1" name="renew" [(ngModel)]="borrowing.renew">
              </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label">是否超期：</label>
            <div class="col-sm-9">
              <!-- <input type="text" class="form-control"  name="isOverdue" [(ngModel)]="borrowing.isOverdue"> -->
            <select #editSel class="form-control" [(ngModel)]="borrowing.isOverdue" name="isOverdue">
              <option  value="是">是</option>
              <option  value="否">否</option>
            </select>
            </div>
         </div> 

       <div class="form-group">
        <label class="col-sm-3 control-label">书籍位置：</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="location" [(ngModel)]="borrowing.location" readonly>
        </div>
     </div> 

       </form>

      </div>
      <div class="modal-footer">
          <button type="button"  class="btn btn-primary"  (click)="editSave(modalEdit,editSel,form.value)" [disabled]="!isbn.valid">
              确认
            </button>
            <button type="button" class="btn btn-default" (click)="close(modalEdit)">取消
            </button>
      </div>
  </div>
</div>

<p-dialog header="提示" [(visible)]="displayP" modal="modal" width="400" [responsive]="true">
  <p style="text-align:center">
      {{message}}
  </p>
  <p-footer>
      <button type="button" pButton (click)="displayP=false" label="确定">
      </button>
  </p-footer>
</p-dialog>
<p-confirmDialog header="提示" icon="fa fa-question-circle" width="425"></p-confirmDialog>
</div>