<div [@fadeIn]>
 
 <!-- 查询按钮以及查询框 -->
<div style="width: 350px; margin-left:40%; margin-bottom:10px; margin-top:5%">
  <app-search [information]="information" [url]="searchUrl" (editData)="query($event)"></app-search>
</div>
<div class="container" style="margin-top:1%;">
  <!-- 树组件 -->
    <div class="col-md-2" id="treemenu" style="width:80px;margin-bottom:10px;margin-left:-135px;" >
      <app-tree [institutionId]="treeURL" [treeTitle]="'图书分类'" ></app-tree>
    </div>

      <!-- 表格 -->
    <div class="container" style="margin-left:220px ;margin-bottom:10px">
      <div class="col-md-10" style="margin-top:3%px" >
        <data-table 
          (deletesEmit)="deleteDatas($event)"  (changepage)="changepage($event)" [isCheckBox]="isCheck"
          [isLink]="isLink"  (operat)="operatData($event,editModal)" [title]="title" [page]="page" [addButton]="btnAdd" 
          [deleteButton]="btnDelete"  [importButton]="btnImport" [exportButton]="btnExport" [total]="total"
           [data]="data" [arr]="arrbutes" (exportEmit)="export()" 
          (addOpen)="open($event,Modal)"  (editData)="edit($event,editModal)"
          [buttonstyle]="btnstyle" [sizeList]="sizeList" [paging]="paging" [pageSize]="pageSize" (importEmit)="import($event)">
        </data-table>
      </div>
    </div>
</div> 
  

  <!-- 编辑模态框-->
  <div #editModal class="modal-dialog" style="visibility:hidden;position:absolute;left:30%;top:20%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="close(editModal)">×
        </button>
        <h4 class="modal-title">
          编辑图书类别信息
        </h4>
      </div>

      <div class="modal-body">
        <form role="form" class="form-horizontal" #form="ngForm">

          <div class="form-group">
            <label class="col-sm-3 control-label">父类名称：</label>
            <div class="col-sm-9">
              <!-- <input type="text" class="form-control" [(ngModel)]=" booktypeManagerModel.id" name="id" readonly="true"> -->
                  <select class="form-control" [(ngModel)]="booktypeManagerModel.pId" name="pId">                 
                    <option name="pId" value="0" selected="selected" >
                        父类名称
                    </option>

                    <option *ngFor="let option of typeOptions" [value]="option.id">
                        {{option.name}}
                    </option>
                  </select>
              <br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">类别名称：</label>
            <div class="col-sm-9">
              <input id="cTypeName" #cTypeName ="ngModel" type="text" class="form-control" [(ngModel)]=" booktypeManagerModel.name" name="name" onkeyup="value=value.replace(/[^\w\u4E00-\u9FA5]/g, '')" required>
              <span [hidden]="cTypeName.valid || cTypeName.pristine" style="color:#a94442">类别名称是必须的</span>
              <br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]=" booktypeManagerModel.remark" name="remark" onkeyup="value=value.replace(/[^\w\u4E00-\u9FA5]/g, '')">
              <br>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="updateBookType(editModal)" [disabled]="!cTypeName.valid">
              确定
        </button>

        <button type="button" class="btn btn-default" (click)="close(editModal)">
              取消
        </button>
      </div>
    </div>
  </div>
  
  <!-- 添加模态框 -->
  <div #Modal class="modal-dialog" style="visibility:hidden;position:absolute;left:30%;top:20%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="close(Modal)">×
        </button>
        <h4 class="modal-title">
          添加图书类别信息
        </h4>
      </div>

      <div class="modal-body">
        <form role="form" class="form-horizontal" ng-controller="validateCtrl" >

          <div class="form-group" #valAddModel>
            <label class="col-sm-3 control-label">类别名称：</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="name" required 
                  [(ngModel)]=" booktypeManagerModel.name" name="name" maxlength="7"  
                  #name="ngModel">
               <span [hidden]="name.valid || name.pristine" style="color:#a94442">类别名称是必须的</span>
              <br>
            </div>
          </div>

          <div #parentType class="form-group" id="ParentTypeShow">
            <label class="col-sm-3 control-label">父类名称：</label>
            <div   class="col-sm-9">

              <!-- <input type="text" class="form-control" [(ngModel)]=" booktypeManagerModel.Pname" name="Pname"> -->
              <select id="pTypeName" class="form-control" [(ngModel)]="booktypeManagerModel.pId" name="pId" #PtypeName="ngModel" required>                   
                <option name="pId" value="0" selected="selected" #parentName>
                  请选择父类名称
                </option>
                <option *ngFor="let option of typeOptions" [value]="option.id">
                    {{option.name}}
                  </option>
              </select>
              <span [hidden]="PtypeName.valid || PtypeName.pristine" style="color:#a94442"></span>
              <br>
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label" >备注：</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]=" booktypeManagerModel.remark" name="remark" maxlength="25" onkeyup="value=value.replace(/[^\w\u4E00-\u9FA5]/g, '')">
              <br>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button #tbntype type="button" id="pBtn" class="btn btn-primary" (click)="saveParentType(tbntype,parentType,btnAdd)">父类</button>

        <button #btnAdd type="submit" class="btn btn-primary" (click)="save(Modal)" [disabled]="!name.valid">
             添加
        </button>

        <button type="button" class="btn btn-default" (click)="close(Modal)">
            取消
        </button>
      </div>
    </div>
  </div>
  
  
 <!-- 导入文件模态框 -->
 <p-dialog header="导入文件" [(visible)]="display" modal="modal" width="500" [responsive]="true">
  <p>提示：导入前请先下载模板<a style="color:#41ABE9" (click)="down()">点击下载模板</a></p>
  <div style="text-align:center;display:none">
    <input #filepath type="file" name="filePath" value="选择文件" style="display:none" ng2FileSelect [uploader]="uploader" (change)="selectedFileOnChanged($event)">
  </div>

  <input class="form-control" type="text" placeholder="选择文件" style="width:50%;height:25px;display:inline" [(ngModel)]="filename">

  <button type="button" pButton (click)="show(filepath)" label="选择文件"></button>
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="upload()" label="上传"></button>
    <button type="button" pButton icon="fa-close" (click)="display=false" label="取消"></button>
  </p-footer>
</p-dialog>

<p-dialog header="提示" [(visible)]="displayP" modal="modal" width="400" [responsive]="true">
  <p style="text-align:center">
      {{message}}
  </p>
  <p-footer>
      <button type="button" pButton (click)="displayP=false" label="确定">
      </button>
  </p-footer>
</p-dialog>

<!-- 检测导入文件成功的隐含域 -->
<input id="excelFile" type = "hidden" value="false" />
<!-- 监测删除记录的隐含域 -->
<input id="deleteRecords" type = "hidden" value="false" />
  
</div>
