.modal-footer{
    clear:left;
}

.search_div{
    margin-top:20px;
    margin-bottom: 20px;
    text-align: center;
}
  .condition{
    border-width: none;
    border-radius: 5px;
    outline: none;
    height: 35px;
    margin-right: 5px;
    box-sizing: border-box;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    width: 240px;
}